$width-site: 1200px
$item-height: 300px
$mt: 3%

.container
  max-width: 1200px
  margin: 0 auto

header
  min-height: 100px
  background-color: green

.info
  display: flex
  justify-content: space-between
  margin-top: $mt

.item-1
  width: 65%
  min-height: $item-height
  border: 1px solid #000

.parent-item-mini
  width: 32%

.item-2,
.item-3
  min-height: $item-height / 2 - $item-height / 100 * 5
  border: 1px solid #000

.item-2
  margin-bottom: $item-height / 100 * 10

.box-product
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  margin-top: $mt
  &__item
    margin-bottom: $mt

.product
  width: 31%
  height: 300px
  background-color: #ccc

.reviews
  display: flex

.rw-box
  width: $width-site / 3

.text-reviews
  padding: 15px
  &__hending
    margin-top: 4%
    margin-bottom: 4%

.box-image
  display: flex
  justify-content: center
  align-items: center
  
.image
  width: 200px

@media screen and (max-width: 720px)
  .info
    flex-direction: column

  .item-1
    width: 100%
    margin-bottom: $mt

  .parent-item-mini
    display: flex
    justify-content: space-between
    width: 100%

  .item-2,
  .item-3
    width: 48%

  .product
    width: 48%